DATABASE_URL="postgresql://postgres:marshal1111@localhost:5432/ecommerce?schema=public"
ACCESS_TOKEN_SECRET=some
REFRESH_TOKEN_SECRET=test
CLOUDINARY_CLOUD_NAME=dpzqvtwrc
CLOUDINARY_API_KEY=163179963165931
CLOUDINARY_API_SECRET=yljnP13_f9I-WbJM4RjK6Hb5tf4